
body {
  margin: 0;
	padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #FFFFFF;
}

.container {
  box-sizing: border-box;
  max-width: 1024px;
  margin: 0 auto;
  padding: 2%  5%;
  background-color: #F0F8FF;
}

ul a{
	text-decoration: none;
	color: #000;
}
 ul a:hover {
 	color: #1E90FF;
}

hr {
  color: #B0C4DE;
  opacity: 0.5;
}

section p, 
section ul {
  font-size: 18px;
}

header {
  display: flex;
} 

.title_page {
  padding-bottom: 15px;
  text-align: center;
  font-size: 32px;
  color: #1E90FF;
}

.header_text{
  flex: 1 0 0;
}

.header_text h2 {
  padding-left: 15px;
}

.contacts{
  padding-left: 15px;
}

.contacts li {
  list-style-type: none;
}

footer {
  text-align: center;
}


